AIRCRAFT_DAMAGE_MODEL_PATH=models/vgg16_aircraft_damage.keras
AIRCRAFT_DAMAGE_REPORT_MODEL=Salesforce/blip-image-captioning-base
AIRCRAFT_DAMAGE_DEVICE=cpu
HF_HOME=.cache/huggingface
TRANSFORMERS_CACHE=.cache/huggingface
